.instuments {
  float: left;
}
#message{
  margin: 1em;
}
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
#canvas {
  display: block;
  margin: 0 auto;
  padding: 0rem;
  border: 2px;
  border-color: rgb(106, 0, 255);
  background-color: rgb(255, 255, 255);
}

